# {{SUBJECT}}

| Field | Value |
|-------|-------|
| From | {{FROM}} |
| Date | {{DATE}} |
| Thread ID | {{THREAD_ID}} |
| Label applied | {{LABEL}} |
| Filter | {{FILTER_NAME}} |

## Snippet

{{SNIPPET}}

## Thread URL

https://mail.google.com/mail/u/0/#inbox/{{THREAD_ID}}
